### npm ###
/node_modules

### System ###
*.DS_Store
*Thumbs.db

### Build ###
web/assets/css
web/assets/js
web/assets/images
/package-lock.json

### Dev ###
config.codekit
*.sublime-project
*.sublime-workspace
.idea/